<template>
	<div class="flex flex-col" style="margin-top: -8px">
		<span
			:class="{ 'text-primary': isAsc && isActive }"
			class="bzi-caret-up icons-arrow-up pointer"
			@click="asc"
		></span>
		<span
			class="bzi-caret-down icons-arrow-down pointer"
			:class="{ 'text-primary': isDesc && isActive }"
			@click="desc"
		></span>
	</div>
</template>
<script>
export default {
	name: 'SortButton',
	props: {
		isActive: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			isAsc: false,
			isDesc: false
		}
	},
	methods: {
		asc() {
			if (this.isAsc) {
				this.reset()
				this.$emit('onReset')
			} else {
				this.$emit('onAsc')
				this.isAsc = true
				this.isDesc = false
			}
		},
		desc() {
			if (this.isDesc) {
				this.reset()
				this.$emit('onReset')
			} else {
				this.$emit('onDesc')
				this.isAsc = false
				this.isDesc = true
			}
		},
		reset() {
			this.isAsc = false
			this.isDesc = false
		}
	}
}
</script>
<style lang="scss" scoped>
.icons-arrow {
	&-up {
		height: 1px;
	}
	&-down {
		transform: translateY(50%);
	}
}
.active {
	color: $primary;
}
</style>
