<template>
	<div>
		<button
			v-if="tableConfig.withChecked"
			class="btn btn--ghost-secondary btn--small mb-8"
			@click="$emit('deleteSelected', selected)"
		>
			Delete Selected
		</button>
		<div class="table-wrapper">
			<table class="table">
				<thead>
					<tr class="head">
						<td v-if="tableConfig.withChecked" class="text-center">
							<input
								v-model="isSelectedAll"
								type="checkbox"
								@click="selectAllHandler"
							/>
						</td>
						<template v-for="(col, idx) in tableConfig.columns">
							<th v-if="col.checked" :key="idx">
								<div class="flex v-center">
									<p class="table-head mr-8">{{ col.name }}</p>
									<SortButton
										ref="sortButton"
										:is-active="tableConfig.withSort"
										@onAsc="sortHandler(col.key, 'asc')"
										@onDesc="sortHandler(col.key, 'desc')"
										@onReset="sortHandler('', '')"
									/>
								</div>
							</th>
						</template>
						<th v-if="tableConfig.actions.length > 0"></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(row, ridx) in data" :key="ridx" class="pointer">
						<td v-if="tableConfig.withChecked" class="text-center">
							<input
								type="checkbox"
								:checked="selected.includes(row.id)"
								@input="selectHandler(row.id)"
							/>
						</td>
						<template v-for="(col, cidx) in tableConfig.columns">
							<td v-if="col.checked" :key="cidx" style="whitespace: nowrap">
								<span
									:class="
										col.type === 'label' ? 'text-label ' + row[col.key] : ''
									"
									>{{ parseContent(row[col.key], col.type) }}</span
								>
							</td>
						</template>
						<td v-if="tableConfig.actions.length > 0" class="flex td-sticky">
							<div class="td-sticky-container">
								<button
									v-for="action in tableConfig.actions"
									:key="action.name"
									class="btn bg-transparent px-6 ml-2 mr-2"
									@click="$emit('actions', action.name, row.id)"
								>
									<i class="bzi" :class="action.icon"></i>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		tableConfig: {
			type: Object,
			default: () => {
				return {
					withChecked: true,
					withSort: true,
					columns: [],
					actions: []
				}
			}
		},
		data: {
			type: Array,
			default: () => []
		}
	},
	data() {
		return {
			isSelectedAll: false,
			selected: []
		}
	},
	methods: {
		parseContent(content, type = null) {
			switch (type) {
				case 'currency':
					return this.$setCurrency(content)
				case 'date':
					return this.$formatDate(content)
				default:
					return content
			}
		},
		selectAllHandler() {
			if (this.isSelectedAll) {
				this.selected = []
				this.isSelectedAll = false
			} else {
				this.selected = this.data.map(row => row.id)
				this.isSelectedAll = true
			}
		},
		selectHandler(id) {
			const exist = this.selected.includes(id)
			const temp = this.selected
			if (exist) {
				this.selected = temp.filter(data => data !== id)
			} else this.selected = [...temp, id]
			this.isSelectedAll = this.selected.length === this.data.length
		},
		sortHandler(key, val) {
			this.$refs.sortButton.forEach(item => {
				item.reset()
			})
			this.$emit('sortHandler', key, val)
		}
	}
}
</script>

<style lang="scss" scoped>
p {
	margin: 0;
}
.px-6 {
	padding: 0 6px 0 6px;
}
.table-wrapper {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}
.text-label {
	display: inline-block;
	padding: 5px 12px 5px;
	border-radius: 20px;
	font-weight: 600;
	&.cancelled {
		color: #e52a34;
		background: lighten($color: #e52a34, $amount: 40);
	}
	&.active {
		color: #49e52a;
		background: lighten($color: #49e52a, $amount: 40);
	}
}
.table {
	thead {
		color: #fff;
		background: #444;
	}

	tbody {
		tr:nth-child(even) {
			background: rgba(#eee, 0.3);
		}
	}

	th,
	td {
		padding: 8px;
		border: solid 1px #ddd;
		font-size: 90%;
	}
	.td-sticky {
		position: sticky;
		top: 0;
		right: 0;
		border: 0;
		.td-sticky-container {
			display: inline-flex;
			align-items: center;
			background: #fff;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
			border-radius: 4px;
		}

		button {
			padding: 4px 8px !important;
			background: transparent;
		}
	}
}
</style>
