<template>
	<main class="site-main">
		<span>{{ gender }}</span>
	</main>
</template>

<script>
export default {
	props: {
		gender: {
			type: String,
			default: 'male',
			validator: val => ['male', 'female'].includes(val)
		}
	}
}
</script>
