<template>
	<main class="site-main">
		<div class="container">
			<h1 v-for="(i, idx) in 10000" :key="i">
				<span v-if="idx % 2 == 0">hello</span>
			</h1>
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	}
}
</script>

<style lang="scss" scoped></style>
