<template>
	<div>\{{ userInfo }}</div>
</template>
<script>
export default {
	props: {
		userInfo: {
			type: String,
			required: true,
			validator: val => val.location !== 'Nigeria'
		}
	},
	data: () => ({})
}
</script>
