<template>
	<main class="site-main container">
		<!-- Filter -->
		<div class="bzg shadow-def pt-20" style="">
			<h3 class="bzg_c" data-col="s12">Filter</h3>
			<div class="bzg_c bzg bzg--small-gutter" data-col="s12">
				<div class="bzg_c" data-col="s3">
					<label for="name">name</label>
					<input v-model="query.filter.name" class="form-input" type="text" />
				</div>
				<div class="bzg_c" data-col="s3">
					<label for="description">description</label>
					<input
						v-model="query.filter.description"
						class="form-input"
						type="text"
					/>
				</div>
				<div class="bzg_c" data-col="s3">
					<label for="created_by">created_by</label>
					<input
						v-model="query.filter.created_by"
						class="form-input"
						type="text"
					/>
				</div>
				<div class="bzg_c" data-col="s3">
					<label for="status">status</label>
					<input v-model="query.filter.status" class="form-input" type="text" />
				</div>
				<span class="bzg_c mt-8" data-col="s12">Query: {{ query.final }}</span>
			</div>
			<button
				class="bzg_c btn btn--primary mt-20"
				data-col="s2"
				data-offset="s10"
				@click="doQuery()"
			>
				Apply
			</button>
		</div>
		<!-- Table -->
		<div c style="padding-top: 40px">
			<Table
				:table-config="tableConfig"
				:data="data"
				@actions="actionsHandler"
				@deleteSelected="deleteSelectedHandler"
				@sortHandler="sortHandler"
			/>
			<div class="pt-20">
				<Pagination
					:total-pages="metaData.total"
					:per-page="metaData.per_page"
					:current-page="metaData.current_page"
					@pagechanged="doQuery"
				/>
			</div>
		</div>
	</main>
</template>

<script>
import dummy from '~/components/TableDummy'
export default {
	data() {
		return {
			tableConfig: {
				withChecked: true,
				withSort: true,
				columns: [
					{
						name: 'Name',
						key: 'name',
						checked: true
					},
					{
						name: 'Descripton',
						key: 'description',
						checked: true
					},
					{
						name: 'Created by',
						key: 'created_by',
						checked: true
					},
					{
						name: 'Status',
						key: 'status',
						type: 'label',
						checked: true
					},
					{
						name: 'Start Date',
						key: 'start_date',
						type: 'date',
						checked: true
					},
					{
						name: 'End Date',
						key: 'end_date',
						type: 'date',
						checked: true
					},
					{
						name: 'Discount Amount',
						key: 'discount_amount',
						type: 'currency',
						checked: true
					}
				],
				actions: [
					{
						name: 'detail',
						icon: 'bzi-eye'
					},
					{
						name: 'edit',
						icon: 'bzi-edit'
					},
					{
						name: 'delete',
						icon: 'bzi-phone'
					}
				]
			},
			data: [],
			selectedDelete: null,
			pageSize: 10,
			metaData: {
				current_page: 1,
				per_page: 1,
				total: 1
			},
			query: {
				final: '',
				pagination: '',
				filter: {
					name: '',
					description: '',
					created_by: '',
					status: ''
				},
				sort: ''
			},
			url: ''
		}
	},
	async fetch() {
		this.setQuery()
		await this.$axios
			.get(`${this.url}?${this.query.final}`)
			.then(res => {
				this.data = dummy.data
				this.metaData = dummy.metaData
			})
			.catch(err => {
				// eslint-disable-next-line no-console
				console.log(err)
			})
	},

	methods: {
		actionsHandler(name, id) {
			switch (name) {
				case 'detail':
					this.detailHandler(id)
					break
				case 'edit':
					this.editHandler(id)
					break
				case 'delete':
					this.deleteHandler(id)
					break
				default:
					// eslint-disable-next-line no-console
					console.log('Function Not Found.')
					break
			}
		},
		detailHandler(id) {
			// eslint-disable-next-line no-console
			console.log('detail', id)
		},
		editHandler(id) {
			// eslint-disable-next-line no-console
			console.log('edit', id)
		},
		deleteHandler(id) {
			// eslint-disable-next-line no-console
			console.log('delete', id)
			this.selectedDelete = id
			// open pop up
		},
		deleteSelectedHandler(selected) {
			// eslint-disable-next-line no-console
			console.log('delete', selected)
		},
		setQuery(val = false) {
			this.query.pagination = `page[size]=${this.pageSize}`
			if (val) this.query.pagination += `&page[number]=${val}`

			const raw = [
				this.query.pagination,
				this.query.sort,
				this.$createFilter(this.query.filter)
			]
			this.query.final = this.$arrangeQuery(raw)
		},
		async doQuery(val = false) {
			this.setQuery(val)
			await this.$axios
				.get(`${this.url}?${this.query.final}`)
				.then(res => {
					this.data = dummy.data
					this.metaData = dummy.metaData
				})
				// eslint-disable-next-line no-console
				.catch(err => console.log(err))
		},
		sortHandler(key, value = 'asc') {
			if (key === '') {
				this.query.sort = 'sort=-created_at'
			} else {
				this.query.sort = `sort=${value === 'asc' ? '' : '-'}${key}`
			}
			this.setQuery()
			this.doQuery()
		}
	}
}
</script>
